a.social {
  --bg-img: "";
  background-image: var(--bg-img);
   width: 1.5rem;
  height: 1.5rem;

  display: block;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-background-clip: initial;
  background-clip: initial;
}

a.social[aria-label="tiktok"] {
  --bg-img: url(../assets/icons/tiktok.svg);
}

a.social[aria-label="tiktok"]:hover {
  --bg-img: url(../assets/icons/tiktok-hover.svg);
}

a.social[aria-label="instagram"] {
  --bg-img: url(../assets/icons/instagram.svg);
}

a.social[aria-label="instagram"]:hover {
  --bg-img: url(../assets/icons/instagram-hover.svg);
}

a.social[aria-label="twitter"] {
  --bg-img: url(../assets/icons/twitter-x.svg);
}

a.social[aria-label="twitter"]:hover {
  --bg-img: url(../assets/icons/twitter-x-hover.svg);
}

a.social[aria-label="discord"] {
  --bg-img: url(../assets/icons/discord.svg);
}

a.social[aria-label="discord"]:hover {
  --bg-img: url(../assets/icons/discord-hover.svg);
}